{% extends "crudtemplate.html" %}
{% block script %}
    <script>

        $(document).ready(function () {
            var b = {{ g.user.notif|tojson|safe }};
            if (b != null) {
                for (var x = 0; x < b.length; x++) {
                    c = b[x];
                    if (!c.read) {
                        var sub = '<li><div class="collapsible-header"><i class="material-icons">filter_drama</i>' + c.subject + '</div>';
                        var msg = '<div class="collapsible-body"><p>' + c.message + '</p></div></li>';
                        $('#notifr').append(sub + msg);
                    }

                }
            }

            var d = {{ news|tojson|safe }};
            if (d != null) {
                for (var x = 0; x < d.length; x++) {
                    var c = d[x];
                    var sub = '<li><div class="collapsible-header"><i class="material-icons">filter_drama</i>' + c.headline + '</div>';
                    var msg = '<div class="collapsible-body"><p>' + c.details + '</p></div></li>';
                    $('#newsc').append(sub + msg);

                }
            }

        });
    </script>


{% endblock %}

{% block content %}

    <div class="section">


        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m3">
                <div class="icon-block center">
                    <br>
                    {#                    <div class="chip blue white-text">#}
                    {#                        Profile Setup#}
                    {#                    </div>#}
                    {#                    <div class="line-linkage activelink"></div>#}

                </div>
            </div>


            <div class="col s12 m6">

                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab col s3 tooltipped" data-position="top" data-delay="50" data-tooltip="Alerts"><a
                                class="active"
                                href="#test1"><i class="material-icons red-text">report_problem</i></a></li>
                        <li class="tab col s3 tooltipped" data-position="top" data-delay="50" data-tooltip="News"><a
                                href="#test2"><i
                                class="material-icons orange-text text-accent-2">chat_bubble_outline</i></a>
                        </li>
                        <li class="tab col s3 tooltipped" data-position="top" data-delay="50" data-tooltip="Events"><a
                                href="#test3"><i class="material-icons blue-text">today</i></a></li>
                    </ul>
                </div>
                <div id="test1" class="col s12"><br>
                    <ul class="collapsible" data-collapsible="accordion" id="notifr">
                        <li>
                            <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
                            <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                        </li>
                    </ul>
                </div>
                <div id="test2" class="col s12"><br>
                    <ul class="collapsible" data-collapsible="accordion" id="newsc">
                        <li>

                        </li>
                    </ul>
                </div>
                <div id="test3" class="col s12">Test 3</div>
            </div>
            <div class="col s12 m3">
                <div class="icon-block">
                    <br>
                </div>
            </div>

        </div>
    </div>

{% endblock %}